[submodule ".doxygen/doxygen-awesome-css"]
	path = .doxygen/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "dep/emlabcpp"]
	path = dep/emlabcpp
	url = https://github.com/koniarik/emlabcpp
	branch = main
[submodule "dep/asrt"]
	path = dep/asrt
	url = https://github.com/emsro/asrt
	branch = main
[submodule "dep/ecor"]
	path = dep/ecor
	url = https://github.com/koniarik/ecor.git
