[submodule "stm32-cmake"]
	path = dep/stm32-cmake
	url = https://github.com/ObKo/stm32-cmake
[submodule ".doxygen/doxygen-awesome-css"]
	path = .doxygen/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "dep/CLI11"]
	path = dep/CLI11
	url = https://github.com/CLIUtils/CLI11
	branch = f4d0731cebb123ff0ace712c099dffbcd2c58e5a
[submodule "dep/cmake-git-version-tracking"]
	path = dep/cmake-git-version-tracking
	url = https://github.com/andrew-hardin/cmake-git-version-tracking
	branch = 6c0cb87
[submodule "dep/emlabcpp"]
	path = dep/emlabcpp
	url = https://github.com/koniarik/emlabcpp
	branch = main
[submodule "dep/joque"]
	path = dep/joque
	url = https://github.com/koniarik/joque
	branch = main
[submodule "dep/magic_enum"]
	path = dep/magic_enum
	url = https://github.com/Neargye/magic_enum
